<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="08e47fad-a4e6-4cf3-a16a-f7f33f416fad"
            Publisher="CN=Ms.Bok"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>DataBindingSampleCSharp</DisplayName>
    <PublisherDisplayName>Ms.Bok</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="DataBindingSampleCSharp.App">
        <m2:VisualElements
            DisplayName="DataBindingSampleCSharp"
            Square150x150Logo="Assets\Logo.png"
            Square30x30Logo="Assets\SmallLogo.png"
            Description="DataBindingSampleCSharp"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m2:SplashScreen Image="Assets\SplashScreen.png" />
        </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>